.TestClass {
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    background-color: lightblue;

    font-size: 24px;
}

.TestClass > button {
    font-size: 24px;
}

.AnzahlLikes {
    font-weight: 600;
    font-size: 28px;
}

@media (min-width: 992px) {
    .TestClass {
        width: 45%;
        display: inline-block;
    }
}